body{
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to top, #00c6fb 0%, #3079f0 100%);
}

.heading{
font-size: 23px;
width: 100%;
margin: 0px;
margin-top: 1px;
background-color: greenyellow;
}

